{% extends "quizlayout.html" %}
{% set active_tab = "lang" %}
{% block title %}Language{% endblock %}


{% block content %}
<h1> AP Lang Quiz </h1>
{{ info }}
<h4>Your Highscore in this Session:</h4>
{% if 'numCorrect' in session %} 
<h4>{{ session['numCorrect'] }}</h4><br>
{% else %} N/A
 {% endif %}
<h4>Global Highscore: 
  {{ highscore }}/6</h4>
{% if 'numCorrect' in session %}
<form method="POST" action="/startOver">
    <button type="submit">Start New Practice Session</button>
</form>
{% endif %}
<form action="/lang" method="POST">
  
  Question 1: What is the definition of denotation?<br>
  <input type="radio" name="q1" value="incorect"> The act of deleting a note or annotation<br>
  <input type="radio" name="q1" value="correct"> The strict, literal, dictionary definition of a word<br>
  <input type="radio" name="q1" value="incorrect"> The value of a variable<br>
  <input type="radio" name="q1" value="incorrect"> An idea or feeling that a word invokes in addition to its literal or primary meaning<br>
  <br>
  Question 2: What is the definition of diction?<br>
  <input type="radio" name="q2" value="correct"> Refers to the writer's word choices, especially with regard to their correctness, clearness, or effectiveness<br>
  <input type="radio" name="q2" value="incorrect"> Archaic language for the word 'dictionary'<br>
  <input type="radio" name="q2" value="incorrect"> A specific genre of fiction known for dramatic portayals of love and death<br>
  <input type="radio" name="q2" value="incorrect"> Slang for the word 'addiction'<br>
  <br>
  Question 3: What is the definition of didactic?<br>
  <input type="radio" name="q3" value="incorrect"> Filled with or characterized by a lively energy and excitement<br>
  <input type="radio" name="q3" value="correct"> Works that have the primary aim of teaching or instructing, especially the teaching of morals or ethic principles<br>
  <input type="radio" name="q3" value="incorrect"> Displaying or indicative of an offensively condescending manner<br>
  <input type="radio" name="q3" value="incorrect"> One who frequents (a store, theater, restaurant, or other establishment) as a customer<br>
  <br>
  Question 4: What is the definition of euphemism?<br>
  <input type="radio" name="q4" value="incorrect"> The painless killing of a patient suffering from an incurable and painful disease or in an irreversible coma. The practice is illegal in most countries<br>
  <input type="radio" name="q4" value="incorrect"> A word or phrase considered pleasing to the ear<br>
  <input type="radio" name="q4" value="incorrect"> A feeling or state of intense excitement and happiness<br>
  <input type="radio" name="q4" value="correct"> A more agreeable or less offensive substitute for a generally unpleasant word or concept<br>
  <br>
  Question 5: What is the definition of extended metaphor?<br>
  <input type="radio" name="q5" value="incorrect"> Any metaphor longer than a sentence<br>
  <input type="radio" name="q5" value="correct"> A metaphor developed at great length, occurrng frequently in or throughout a book<br>
  <input type="radio" name="q5" value="incorrect"> Another word for a theme present throughout a novel<br>
  <input type="radio" name="q5" value="incorrect"> A metaphor that is used for more than a page to drive a specific point regarding the plot of a novel<br>
  <br>
  Question 6: What is the definition of figurative language?<br>
  <input type="radio" name="q6" value="incorrect"> Speech or word use unfamiliar to an audience<br>
  <input type="radio" name="q6" value="incorrect"> The act of learning a language through exposure as opposed to formal learning<br>
  <input type="radio" name="q6" value="correct"> Writing or speech that is not intended to carry literal meaning and is usually meant to be imaginative and vivid<br>
  <input type="radio" name="q6" value="incorrect"> A vernacular developed over many years and differing greatly from its origin tongue<br>
  <br>
  <input type="submit" value="Submit">
</form>
{% endblock %}
